body {
  margin: 0;
  font-family: "Raleway", sans-serif; }

.mastia-header {
  margin: 0 auto; }
  .mastia-header .header-top {
    background-color: #fffdfd;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09); }
    .mastia-header .header-top .header-top-bar {
      max-width: 1150px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto; }
      .mastia-header .header-top .header-top-bar .media-icons img {
        margin-right: 13px;
        vertical-align: middle; }
      .mastia-header .header-top .header-top-bar .media-contacts {
        padding: 0;
        margin: 0; }
        .mastia-header .header-top .header-top-bar .media-contacts li {
          margin-left: 30px;
          float: left; }
        .mastia-header .header-top .header-top-bar .media-contacts li:nth-of-type(1) {
          list-style-image: url("../imgs/clock.png"); }
        .mastia-header .header-top .header-top-bar .media-contacts li:nth-of-type(2) {
          list-style-image: url("../imgs/phone.png"); }
        .mastia-header .header-top .header-top-bar .media-contacts li:nth-of-type(3) {
          list-style-image: url("../imgs/email.png"); }
      @media (max-width: 800px) {
        .mastia-header .header-top .header-top-bar {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; } }
  .mastia-header .header-menus {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .mastia-header .header-menus .div-img {
      height: 158px;
      position: relative; }
      .mastia-header .header-menus .div-img img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
    .mastia-header .header-menus ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between; }
      .mastia-header .header-menus ul li {
        display: inline-block;
        padding-left: 20px; }
        .mastia-header .header-menus ul li a {
          text-decoration: none;
          color: black; }
          .mastia-header .header-menus ul li a:hover {
            color: blue; }
    @media (max-width: 800px) {
      .mastia-header .header-menus ul {
        display: none; } }

.mastia-get-in-touch {
  background-color: #26a1e4;
  height: 120px;
  display: flex;
  align-items: center; }
  .mastia-get-in-touch .div-content {
    max-width: 1150px;
    margin: 0 auto;
    color: white; }
    .mastia-get-in-touch .div-content .touch-info {
      display: inline-block;
      font-size: 24px;
      margin-right: 268px; }
    .mastia-get-in-touch .div-content a {
      text-decoration: none;
      font-size: 14px;
      color: white;
      border: 1px white solid;
      padding: 20px 40px; }
  @media (min-width: 768px) and (max-width: 1150px) {
    .mastia-get-in-touch .div-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mastia-get-in-touch .div-content .touch-info {
        margin: 0 auto 10px auto; }
      .mastia-get-in-touch .div-content a {
        padding: 10px 20px;
        margin: 0; } }
  @media (max-width: 768px) {
    .mastia-get-in-touch .div-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mastia-get-in-touch .div-content .touch-info {
        margin: 0 auto 10px auto;
        font-size: 18px; }
      .mastia-get-in-touch .div-content a {
        padding: 10px 20px;
        margin: 0;
        font-size: 10px; } }

.mastia-footer {
  background-color: #161616;
  color: white; }
  .mastia-footer .footer-links {
    max-width: 1150px;
    height: 280px;
    margin: 0 auto; }
    .mastia-footer .footer-links .first-ul {
      list-style: none;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 0;
      margin: 0; }
      .mastia-footer .footer-links .first-ul .first-ul-li {
        width: 260px;
        font-size: 14px;
        padding-top: 58px; }
        .mastia-footer .footer-links .first-ul .first-ul-li h4 {
          color: #22a7f0;
          font-size: 20px;
          margin-top: 0; }
        .mastia-footer .footer-links .first-ul .first-ul-li p {
          line-height: 1.737; }
        .mastia-footer .footer-links .first-ul .first-ul-li .child-ul {
          list-style: none;
          list-style-image: url("../imgs/right-arrow-blue.png");
          padding-left: 20px;
          line-height: 25px; }
        .mastia-footer .footer-links .first-ul .first-ul-li .child-ul-icon {
          list-style: none;
          padding-left: 20px;
          line-height: 25px; }
          .mastia-footer .footer-links .first-ul .first-ul-li .child-ul-icon li:nth-of-type(1) {
            list-style-image: url("../imgs/address-blue.png"); }
          .mastia-footer .footer-links .first-ul .first-ul-li .child-ul-icon li:nth-of-type(2) {
            list-style-image: url("../imgs/phone-blue.png"); }
          .mastia-footer .footer-links .first-ul .first-ul-li .child-ul-icon li:nth-of-type(3) {
            list-style-image: url("../imgs/email-blue.png"); }
  @media (min-width: 768px) and (max-width: 1150px) {
    .mastia-footer .footer-links {
      height: 310px; }
      .mastia-footer .footer-links .first-ul .first-ul-li {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box; } }
  @media (max-width: 768px) {
    .mastia-footer .footer-links {
      height: 960px; }
      .mastia-footer .footer-links .first-ul {
        flex-direction: column;
        align-items: center; }
        .mastia-footer .footer-links .first-ul .first-ul-li {
          width: 450px; } }

.mastia-right-resvered {
  background-color: black;
  color: white; }
  .mastia-right-resvered .right-revered-text {
    max-width: 1150px;
    height: 84px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mastia-right-resvered .right-revered-text p {
      display: inline-block;
      margin: 0; }
    .mastia-right-resvered .right-revered-text img {
      width: 12px;
      height: 12px; }

.contact-navigation-bar {
  background-color: #26a1e4;
  height: 66px; }
  .contact-navigation-bar .div-navigation-content {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact-navigation-bar .div-navigation-content h4 {
      display: inline-block;
      font-size: 24px;
      margin: 0; }
    .contact-navigation-bar .div-navigation-content div {
      display: inline-block; }
      .contact-navigation-bar .div-navigation-content div a {
        text-decoration: none;
        font-size: 14px;
        color: white; }
      .contact-navigation-bar .div-navigation-content div span {
        margin: 0 5px; }
  @media (max-width: 1150px) {
    .contact-navigation-bar .div-navigation-content h4 {
      margin-left: 10px; }
    .contact-navigation-bar .div-navigation-content div {
      margin-right: 10px; } }

.who-we-are .who-we-are-content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .who-we-are .who-we-are-content .div-img {
    background-image: url("../imgs/background-dervice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 48%;
    height: 555px; }
  .who-we-are .who-we-are-content .div-text {
    width: 48%;
    height: 555px; }
    .who-we-are .who-we-are-content .div-text h3 {
      font-size: 35px;
      color: #26a1e4;
      margin: 0 0 38px 0; }
    .who-we-are .who-we-are-content .div-text p {
      font-size: 14px;
      line-height: 24px;
      text-align: justify; }
    .who-we-are .who-we-are-content .div-text p:nth-of-type(1) {
      margin: 0 0 18px 0; }
    .who-we-are .who-we-are-content .div-text p:nth-of-type(2) {
      margin: 0 0 50px 0; }
    .who-we-are .who-we-are-content .div-text div {
      background-color: #26a1e4;
      width: 135px;
      height: 46px;
      line-height: 46px;
      text-align: center; }
      .who-we-are .who-we-are-content .div-text div a {
        text-decoration: none;
        color: white; }

@media (max-width: 768px) {
  .who-we-are .who-we-are-content {
    flex-direction: column; }
    .who-we-are .who-we-are-content .div-img {
      width: 98%; }
    .who-we-are .who-we-are-content .div-text {
      width: 98%;
      height: auto;
      padding-top: 80px; } }

.about-us-fun-facts {
  background-color: #323232;
  color: white; }
  .about-us-fun-facts .div-facts {
    max-width: 1150px;
    height: 424px;
    margin: 0 auto; }
    .about-us-fun-facts .div-facts ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      padding: 0; }
      .about-us-fun-facts .div-facts ul li {
        width: 31%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .about-us-fun-facts .div-facts ul li div {
          width: 132px;
          height: 132px;
          border: 2px solid #26a1e4;
          border-radius: 50%;
          position: relative; }
          .about-us-fun-facts .div-facts ul li div img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        .about-us-fun-facts .div-facts ul li h2 {
          font-size: 23px;
          margin: 26px auto 21px auto; }
        .about-us-fun-facts .div-facts ul li p {
          margin: 0;
          font-size: 14px;
          line-height: 24px; }

.why-and-what .why-and-what-content {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 74px; }
  .why-and-what .why-and-what-content .why-content {
    width: 48%; }
    .why-and-what .why-and-what-content .why-content h3 {
      font-size: 32px;
      color: #26a1e4;
      margin: 0 0 48px 0; }
    .why-and-what .why-and-what-content .why-content ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .why-and-what .why-and-what-content .why-content ul li.feature-card {
        border: 1px solid #d7d7d7;
        margin-bottom: 14px; }
        .why-and-what .why-and-what-content .why-content ul li.feature-card .feature-card-title {
          display: flex;
          cursor: pointer;
          align-items: center; }
          .why-and-what .why-and-what-content .why-content ul li.feature-card .feature-card-title div:nth-of-type(1) {
            color: #26a1e4;
            font-weight: bolder;
            width: 60px;
            height: 60px;
            line-height: 62px;
            padding-left: 25px;
            box-sizing: border-box;
            border-right: 1px solid #d7d7d7; }
          .why-and-what .why-and-what-content .why-content ul li.feature-card .feature-card-title div:nth-of-type(2) {
            font-size: 16px;
            flex: 1;
            box-sizing: border-box;
            padding-left: 12px; }
        .why-and-what .why-and-what-content .why-content ul li.feature-card p {
          display: none;
          margin: 20px; }
        .why-and-what .why-and-what-content .why-content ul li.feature-card.open p {
          display: block; }
        .why-and-what .why-and-what-content .why-content ul li.feature-card.open .feature-card-title {
          border-bottom: 1px solid #d7d7d7; }
          .why-and-what .why-and-what-content .why-content ul li.feature-card.open .feature-card-title div:nth-of-type(1) {
            background-color: #26a1e4;
            color: white;
            transform: rotate(90deg);
            transform-origin: center; }
  .why-and-what .why-and-what-content .what-content {
    width: 48%; }
    .why-and-what .why-and-what-content .what-content h3 {
      font-size: 32px;
      color: #26a1e4;
      margin: 0 0 12px 0; }
    .why-and-what .why-and-what-content .what-content p {
      line-height: 24px;
      margin: 36px auto 0 auto;
      text-align: justify; }

@media (max-width: 768px) {
  .why-and-what .why-and-what-content {
    flex-direction: column;
    align-items: center; }
    .why-and-what .why-and-what-content .why-content {
      width: 98%; }
    .why-and-what .why-and-what-content .what-content {
      padding-top: 78px;
      width: 98%; } }

.customer-review {
  background-color: #323232; }
  .customer-review .customer-review-content {
    max-width: 1150px;
    margin: 0 auto;
    height: 435px;
    display: flex;
    align-items: center; }
    .customer-review .customer-review-content .review-content-img {
      width: 325px;
      padding-left: 120px;
      box-sizing: border-box; }
      .customer-review .customer-review-content .review-content-img .content-img-wrapper {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        text-align: center;
        overflow: hidden; }
        .customer-review .customer-review-content .review-content-img .content-img-wrapper img {
          height: 100%; }
    .customer-review .customer-review-content .review-content-text {
      flex: 1;
      padding: 0 36px;
      position: relative;
      color: #ffffff; }
      .customer-review .customer-review-content .review-content-text::after {
        content: "";
        height: 140px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-left: 1px solid white; }
      .customer-review .customer-review-content .review-content-text h3 {
        font-size: 35px;
        margin: 0 0 35px 0;
        text-transform: uppercase; }
      .customer-review .customer-review-content .review-content-text p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify; }
  @media (min-width: 768px) and (max-width: 1150px) {
    .customer-review .customer-review-content .review-content-img {
      width: 225px;
      padding-left: 40px; } }
  @media (max-width: 768px) {
    .customer-review .customer-review-content {
      flex-direction: column;
      height: auto;
      padding: 30px 0;
      align-items: flex-start; }
      .customer-review .customer-review-content .review-content-img {
        margin-bottom: 30px;
        padding-left: 30px; } }

.our-team {
  background-color: #ffffff; }
  .our-team .our-team-content {
    max-width: 1150px;
    margin: 0 auto; }
    .our-team .our-team-content h3 {
      font-size: 32px;
      color: #26a1e4;
      margin: 78px 0 49px 0;
      padding: 0; }
    .our-team .our-team-content ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0; }
      .our-team .our-team-content ul li {
        display: inline-block;
        text-align: center;
        width: 25%;
        margin-bottom: 84px;
        padding: 0 10px;
        box-sizing: border-box; }
        .our-team .our-team-content ul li div {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 358px; }
        .our-team .our-team-content ul li h4 {
          font-size: 26px;
          margin: 23px auto 14px auto; }
        .our-team .our-team-content ul li p {
          margin: 0 auto; }
      .our-team .our-team-content ul li:nth-of-type(1) div {
        background-image: url("../imgs/project1.png"); }
      .our-team .our-team-content ul li:nth-of-type(2) div {
        background-image: url("../imgs/project2.png"); }
      .our-team .our-team-content ul li:nth-of-type(3) div {
        background-image: url("../imgs/project3.jpg"); }
      .our-team .our-team-content ul li:nth-of-type(4) div {
        background-image: url("../imgs/blog1.jpg"); }
  @media (min-width: 768px) and (max-width: 1150px) {
    .our-team .our-team-content {
      text-align: center; }
      .our-team .our-team-content ul {
        display: initial; }
        .our-team .our-team-content ul li {
          width: 48%;
          margin-bottom: 78px; } }
  @media (max-width: 768px) {
    .our-team .our-team-content {
      text-align: center; }
      .our-team .our-team-content ul {
        flex-direction: column;
        align-items: center; }
        .our-team .our-team-content ul li {
          width: 60%;
          margin-bottom: 68px; } }
