@import "common/global.scss";
@import "common/header.scss";
@import "common/footer.scss";

.contact-navigation-bar {
  background-color: #26a1e4;
  height: 66px;

  .div-navigation-content {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      display: inline-block;
      font-size: 24px;
      margin: 0;
    }
    div {
      display: inline-block;

      a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(255, 255, 255);
      }
      span {
        margin: 0 5px;
      }
    }
  }

  @media (max-width: 1150px) {
    .div-navigation-content {
      h4 {
        margin-left: 10px;
      }
      div {
        margin-right: 10px;
      }
    }
  }
}

.who-we-are {
  .who-we-are-content {
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .div-img {
      background-image: url("../imgs/background-dervice.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 48%;
      height: 555px;
    }
    .div-text {
      width: 48%;
      height: 555px;

      h3 {
        font-size: 35px;
        color: $theme-blue;
        margin: 0 0 38px 0;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
      }
      p:nth-of-type(1) {
        margin: 0 0 18px 0;
      }

      p:nth-of-type(2) {
        margin: 0 0 50px 0;
      }

      div {
        background-color: $theme-blue;
        width: 135px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .who-we-are-content {
      flex-direction: column;

      .div-img {
        width: 98%;
      }
      .div-text {
        width: 98%;
        height: auto;
        padding-top: 80px;
      }
    }
  }
}

.about-us-fun-facts {
  background-color: #323232;
  color: rgb(255, 255, 255);

  .div-facts {
    max-width: 1150px;
    height: 424px;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      padding: 0;

      li {
        width: 31%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          width: 132px;
          height: 132px;
          border: 2px solid rgb(38, 161, 228);
          border-radius: 50%;
          position: relative;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        h2 {
          font-size: 23px;
          margin: 26px auto 21px auto;
        }
        p {
          margin: 0;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}

.why-and-what {
  .why-and-what-content {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 78px;
    padding-bottom: 74px;

    .why-content {
      width: 48%;

      h3 {
        font-size: 32px;
        color: $theme-blue;
        margin: 0 0 48px 0;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li.feature-card {
          border: 1px solid rgb(215, 215, 215);
          margin-bottom: 14px;
          .feature-card-title {
            display: flex;
            cursor: pointer;
            align-items: center;
            div:nth-of-type(1) {
              color: $theme-blue;
              font-weight: bolder;
              width: 60px;
              height: 60px;
              line-height: 62px;
              padding-left: 25px;
              box-sizing: border-box;
              border-right: 1px solid rgb(215, 215, 215);
            }
            div:nth-of-type(2) {
              font-size: 16px;
              flex: 1;
              box-sizing: border-box;
              padding-left: 12px;
            }
          }

          p {
            display: none;
            margin: 20px;
          }
          &.open {
            p {
              display: block;
            }
            .feature-card-title {
              border-bottom: 1px solid rgb(215, 215, 215);
              div:nth-of-type(1) {
                background-color: $theme-blue;
                color: white;
                transform: rotate(90deg);
                transform-origin: center;
              }
            }
          }
        }
      }
    }
    .what-content {
      width: 48%;
      h3 {
        font-size: 32px;
        color: $theme-blue;
        margin: 0 0 12px 0;
      }
      p {
        line-height: 24px;
        margin: 36px auto 0 auto;
        text-align: justify;
      }
    }
  }

  @media (max-width: 768px) {
    .why-and-what-content {
      flex-direction: column;
      align-items: center;

      .why-content {
        width: 98%;
      }
      .what-content {
        padding-top: 78px;
        width: 98%;
      }
    }
  }
}

.customer-review {
  background-color: #323232;

  .customer-review-content {
    max-width: 1150px;
    margin: 0 auto;
    height: 435px;
    display: flex;
    align-items: center;

    .review-content-img {
      width: 325px;
      padding-left: 120px;
      box-sizing: border-box;

      .content-img-wrapper {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;

        img {
          height: 100%;
        }
      }
    }

    .review-content-text {
      flex: 1;
      padding: 0 36px;
      position: relative;
      color: #ffffff;

      &::after {
        content: "";
        height: 140px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-left: 1px solid white;
      }
      h3 {
        font-size: 35px;
        margin: 0 0 35px 0;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1150px) {
    .customer-review-content {
      .review-content-img {
        width: 225px;
        padding-left: 40px;
      }
    }
  }
  @media (max-width: 768px) {
    .customer-review-content {
      flex-direction: column;
      height: auto;
      padding: 30px 0;
      align-items: flex-start;

      .review-content-img {
        margin-bottom: 30px;
        padding-left: 30px;
      }
    }
  }
}

.our-team {
  background-color: #ffffff;

  .our-team-content {
    max-width: 1150px;
    margin: 0 auto;

    h3 {
      font-size: 32px;
      color: rgb(38, 161, 228);
      margin: 78px 0 49px 0;
      padding: 0;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        text-align: center;
        width: 25%;
        margin-bottom: 84px;
        padding: 0 10px;
        box-sizing: border-box;

        div {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 358px;
        }
        h4 {
          font-size: 26px;
          margin: 23px auto 14px auto;
        }
        p {
          margin: 0 auto;
        }
      }

      li:nth-of-type(1) {
        div {
          background-image: url("../imgs/project1.png");
        }
      }

      li:nth-of-type(2) {
        div {
          background-image: url("../imgs/project2.png");
        }
      }

      li:nth-of-type(3) {
        div {
          background-image: url("../imgs/project3.jpg");
        }
      }

      li:nth-of-type(4) {
        div {
          background-image: url("../imgs/blog1.jpg");
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1150px) {
    .our-team-content {
      text-align: center;

      ul {
        display: initial;

        li {
          width: 48%;
          margin-bottom: 78px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .our-team-content {
      text-align: center;

      ul {
        flex-direction: column;
        align-items: center;

        li {
          width: 60%;
          margin-bottom: 68px;
        }
      }
    }
  }
}
