@import 'common/global.scss';
@import 'common/header.scss';
@import 'common/footer.scss';
$theme-blue: rgb(38, 161, 228);
.header-sliders {
  background-image: url("../imgs/background-dervice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-arrow {
    margin-left: 29px;
    img {
      border: 1px solid;
      width: 28px;
      height: 28px;
      padding: 20px;
    }
  }

  .right-arrow {
    margin-right: 29px;
    img {
      border: 1px solid;
      width: 28px;
      height: 28px;
      padding: 20px;
    }
  }

  .slider-center {
    max-width: 1150px;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 48px;
      margin: 0 auto;
    }
    .p-discription {
      width: 60%;
      margin: 0 auto;
      p {
        font-size: 14px;
        margin-bottom: 38px;
        margin-top: 28px;
      }
    }

    a {
      display: inline-block;
      border: 1px white solid;
      font-size: 16px;
      padding: 16px 38px;
    }
  }

  @media (min-width: 768px) and (max-width: 1150px) {
    height: 680px;
    .slider-center {
      h1 {
        font-size: 32px;
      }
    }
  }
  @media (max-width: 768px) {
    height: 580px;
    .slider-center {
      h1 {
        font-size: 24px;
      }
      a {
        font-size: 12px;
      }
    }
  }
}
.mastia-services {
  background-color: rgb(248, 248, 248);

  ul {
    max-width: 1150px;
    list-style: none;
    margin: 0 auto 6px auto;
    padding: 86px 0 0 0;
    text-align: center;

    li {
      display: inline-block;
      margin-bottom: 68px;

      div {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
          font-size: 24px;
          color: rgb(34, 167, 240);
          margin: 28px auto 14px auto;
        }
        p {
          font-size: 14px;
          color: rgb(53, 53, 53);
          line-height: 2em;
          margin: 0 auto;
        }
      }
    }
  }
}

.mastia-recent-projects {
  max-width: 1150px;
  margin: 0 auto;

  h3 {
    font-size: 35px;
    color: rgb(34, 167, 240);
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .boundry-line {
    background-color: $theme-blue;
    width: 68px;
    height: 2px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 28px auto 18px auto;

    li {
      display: inline-block;
      width: 30%;

      a {
        text-decoration: none;

        div {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 238px;
        }
      }
    }

    li:nth-of-type(1) {
      a {
        div {
          background-image: url("../imgs/project1.png");
        }
      }
    }

    li:nth-of-type(2) {
      a {
        div {
          background-image: url("../imgs/project2.png");
        }
      }
    }

    li:nth-of-type(3) {
      a {
        div {
          background-image: url("../imgs/project3.jpg");
        }
      }
    }
  }

  .left-right-arrows {
    height: 65px;

    div {
      float: right;
      height: 21px;
      margin-left: 3px;

      img {
        width: 21px;
        height: 21px;
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: center;
      margin-bottom: 8px;

      li {
        margin-bottom: 10px;
        width: 60%;
      }
    }
  }
}

.mastia-fun-facts {
  background-color: #26a1e4;
  color: rgb(255, 255, 255);

  .div-facts {
    max-width: 1150px;
    height: 235px;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      padding: 0;

      li {
        display: inline-block;
        width: 263px;
        flex: 1;

        .card-fact {
          text-align: center;

          h2 {
            font-size: 50px;
            margin: 0;
          }
          p {
            margin: 0;
            font-size: 24px;
          }
          .boundry-line-fact {
            background-color: rgb(255, 255, 255);
            width: 40px;
            height: 2px;
            margin: 21px auto 19px auto;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .div-facts {
      ul {
        li {
          .card-fact {
            h2 {
              font-size: 32px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.mastia-from-blog {
  max-width: 1150px;
  margin: 0 auto;

  h3 {
    font-size: 35px;
    color: rgb(34, 167, 240);
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .boundry-line {
    background-color: $theme-blue;
    width: 68px;
    height: 2px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 28px auto 18px auto;

    li {
      display: inline-block;
      width: 555px;
      height: 212px;

      .from-log-img {
        float: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 40%;
        height: 100%;
      }

      .from-log-text {
        float: left;
        background-color: rgb(248, 248, 248);
        width: 60%;
        height: 100%;

        div {
          width: 86%;
          margin: 0 auto;
          padding-top: 44px;
          font-size: 14px;

          .p-date {
            text-align: left;
            margin-top: 0;
          }
          .p-content {
            text-align: left;
            margin: 15px auto 40px auto;
          }
          .p-a-readmore {
            width: 100%;
            padding: 0;
            text-align: right;

            a {
              text-decoration: none;
              font-weight: bold;
              color: $theme-blue;
            }
          }
        }
      }
    }

    li:nth-of-type(1) {
      .from-log-img {
        background-image: url("../imgs/blog1.jpg");
      }
    }

    li:nth-of-type(2) {
      .from-log-img {
        background-image: url("../imgs//blog2.jpg");
      }
    }
  }
  .left-right-arrows {
    height: 100px;

    div {
      float: right;
      height: 21px;
      margin-left: 3px;

      img {
        width: 21px;
        height: 21px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1150px) {
    ul {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 18px auto;

      li {
        width: 740px;
        margin-top: 28px;
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 18px auto;

      li {
        margin-top: 28px;
      }
    }
  }
}

.mastia-get-in-touch {
  background-color: #26a1e4;
  height: 120px;
  display: flex;
  align-items: center;

  .div-content {
    max-width: 1150px;
    margin: 0 auto;
    color: rgb(255, 255, 255);

    .touch-info {
      display: inline-block;
      font-size: 24px;
      margin-right: 268px;
    }
    a {
      text-decoration: none;
      font-size: 14px;
      color: rgb(255, 255, 255);
      border: 1px white solid;
      padding: 20px 40px;
    }
  }

  @media (min-width: 768px) and (max-width: 1150px) {
    .div-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .touch-info {
        margin: 0 auto 10px auto;
      }
      a {
        padding: 10px 20px;
        margin: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .div-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .touch-info {
        margin: 0 auto 10px auto;
        font-size: 18px;
      }
      a {
        padding: 10px 20px;
        margin: 0;
        font-size: 10px;
      }
    }
  }
}


